<div class="card">
    <div class="card-header">
        <p class="card-title">Task title</p>
        <div class="checkbox-wrapper-31">
            <input type="checkbox"/>
            <svg viewBox="0 0 35.6 35.6">
              <circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
              <circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
              <polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
            </svg>
        </div>
    </div>
    <p class="card-description">
        Lorem ipsum dolor sit amet consectetur adipiscing, elit elementum inceptos vel nam.
    </p>
    <div class="card-footer">
        <button class="btn btn-edit" title="Edit task">
            <img src="../assets/icons/edit-icon.svg" alt="Edit">
            Edit
        </button>
        <button class="btn btn-delete" title="Delete task">
            <img src="../assets/icons/delete-bin-trash-icon.svg" alt="">
            Delete</button>
    </div>
</div>