<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/todo_card.css">
    <title>Document</title>
</head>
<body>

    <div id="container_card_todo_app">
        <div id="upper_header_container_card_todo_app">
            <p id="upper_header_title_container_card">Task title</p>
            <input id="upper_header_checkbox_container_card" type="checkbox" value="">
        </div>
        <div id="description_card_todo_app">
            <p id="content_description_card">Lorem ipsum dolor sit amet consectetur adipiscing, elit elementum inceptos vel nam.</p>
        </div>
        <div id="footer_container_card_todo_app">
            <button id="btn_edit_footer_container_card_todo_app">
                <img id="img_btn_edit" src="../assets/icons/edit-icon.svg" alt="Edit">
                Edit
            </button>
            <button id="btn_delete_footer_container_card_todo_app">
                <img id="img_btn_delete" src="../assets/icons/delete-bin-trash-icon.svg" alt="">
                Delete</button>
        </div>
    </div>
    
</body>
</html>